@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

.mainImages {
    display: flex;
    flex-direction: column;
    font-family: "'Kumbh Sans', sans-serif";
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 20px;
}



.span {
    color: hsl(26, 100%, 55%);
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 12px;
}

.title {
    color: black;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 12px;
}

.identification {
    font-size: 16px;
    color: hsl(219, 9%, 45%);
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 12px;
    font-family: 'Kumbh Sans', sans-serif;
}

.content_prix {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.prix {
    font-size: 24px;
    font-weight: 700;
    color: black;
}

.discount {
    background-color: hsla(50, 49%, 88%, 0.894);
    color: hsl(26, 100%, 55%);
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.prix_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.prix_before {
    text-decoration: line-through;
    color: hsl(219, 9%, 45%);
}

@media (min-width: 768px) {
    .mainImages {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        gap: 60px;

    }

    .container {
        width: 100%;
        padding-right: 100px;
    }

    .content_prix {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    .span {
        font-size: 18px;
        padding-bottom: 15px;
    }

    .title {
        font-size: 32px;
        padding-bottom: 20px;
    }

    .identification {
        font-size: 18px;
        line-height: 25px;
        font-weight: 400;
        font-family: 'Kumbh Sans', sans-serif;
        width: 80%;
        padding-bottom: 15px;
    }

    .desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .mobile {
        display: none;
        overflow: hidden;
    }

}

@media (max-width: 768px) {
    .desktop {
        display: none;
        overflow: hidden;
    }

    .mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
}